PWM_FREQ=1000
DEFAULT_SPEED=0.35
MOTOR_ENABLED=true
SIMULATION_MODE=false
DEBUG_PREVIEW=false

STBY_L=27
AIN1_L=5
AIN2_L=6
PWMA_L=13
BIN1_L=26
BIN2_L=22
PWMB_L=19

STBY_R=21
PWMA_R=12
AIN1_R=16
AIN2_R=20
PWMB_R=18
BIN1_R=23
BIN2_R=24

OLED_ENABLED=true
OLED_DRIVER=sh1106
OLED_ADDRESS=0x3C
OLED_BUS=1
OLED_WIDTH=128
OLED_HEIGHT=64

CAMERA_ENABLED=true
CAMERA_WIDTH=640
CAMERA_HEIGHT=480
CAMERA_FPS=30
CAMERA_BACKEND=picamera2

PERSON_CONFIDENCE_THRESHOLD=0.55
PERSON_MIN_AREA_RATIO=0.03
STOP_ZONE_X_MIN=0.20
STOP_ZONE_X_MAX=0.80
PERSON_CLEAR_DELAY=1.5
PERSON_DETECTED_CONFIRM_FRAMES=2
AUTO_RESUME_AFTER_PERSON_CLEAR=false
CAMERA_WATCHDOG_TIMEOUT=2.0
PERSON_DETECTION_MOCK=false

SERVER_HOST=0.0.0.0
SERVER_PORT=8765
ROBOT_ID=RBT01
ROBOT_NAME=Pi Robot
PAIRING_ENABLED=true
PAIRING_CODE_TTL=120.0
DRIVE_COMMAND_TIMEOUT=0.35
DRIVE_COMMAND_INTERVAL=0.10
HEARTBEAT_INTERVAL=0.50
CONNECTION_TIMEOUT=1.20
TELEMETRY_INTERVAL=0.25
CAMERA_STREAM_FPS=8.0
CAMERA_STREAM_WIDTH=640
CAMERA_STREAM_HEIGHT=480
CAMERA_JPEG_QUALITY=70
STREAM_TICKET_TTL=30.0
